.custom{
    color: #FEA116 !important;
    letter-spacing:3px;
    font-weight: bold;
}

.nav-link:hover{
    color: #FEA116 !important;
    padding: 5px 10px;
}
 
.hero{
    background-image: url("https://images.unsplash.com/photo-1600891964599-f61ba0e24092");
    background-size: cover;
    background-position: center;
    height: 80vh;
    color: black;
    background-blend-mode: overlay;
    background-color: rgba(82, 75, 19, 0.5); 
   
}

.hero h1 {
    font-size: 60px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgb(0,0,0);
    letter-spacing: 3px;
}

.hero p{
    font-weight: bold;
    letter-spacing: 3px;
    color: #000;
}
 

.container h2{
    font-weight: bold;
    letter-spacing: 3px;
    color: #FEA116;
    text-shadow: 2px 2px 4px rgb(0,0,0);
}
.menu-card img {
    width: 100%;          
    height: 250px;         
    object-fit: cover;    
    border-radius: 5px;   
}


.menu-card
{
    border: none;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);   
}

.menu-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(3, 2, 2, 0.7);
}

 

.underline-line{
    letter-spacing: 2px;
    line-height: 1.9;
}

.underline-line:hover{
    border-bottom: 2px solid rgba(82, 75, 19, 0.5);
    transition: border-bottom 0.1s ease;
    font-weight: bold;
}
.about img {
    transition: transform 0.5s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4); 
}

.about img:hover {
    transform: translateX(-20px);
}
.chef-img {
    width: 100% !important;
    height: 250px !important;
    object-fit: cover !important; 
}

.chef-card{
    border: none;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);   
}
.chef-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(3, 2, 2, 0.7);
}
.contact{
    background-color: rgb(56, 66, 53);
}

#contact .form-control:focus {
    border-color: #ffa807;  
    box-shadow: 0 0 0 0.25rem rgba(235, 177, 4, 0.651);  
}

 
